@media only screen
and (min-device-width : 100px)
and (max-device-width : 500px){
   #Merchandising{
   width:40px;
   height:40px;
}#TopSeller{
   width:40px;
   height:40px;
}#NouveauxProduits{
   width:40px;
   height:40px;
}#bonnesAffaires{
   width:40px;
   height:40px;
}

   .logoDown {
        width:200px;
        height:200px;
    }.maps iframe {
        width:200px;
        height:200px;
    }.logo {
        width:100px;
        height:100px;
        left:20%;
 
} .welcome{
      right:1%;
      top:14%;
      position: absolute;
    
      }.signout{
    	width:260px;
    	height:70px;
        font-size:40px;


    }.signin{
    	width:260px;
    	height:70px;
        font-size:40px;

    } .menuu{
    	right:35%;
}.container1{
  display: none;
}.logomenu{
  width:100px;
  height:100px;
} .menuu{
    	right:35%;
}.container1{
  
}.logomenu{
  width:100px;
  height:100px;
}
}
@media only screen and (min-device-width : 501px) and (max-device-width : 2000px){
  .menu5{
    display:none;
}
}
@media only screen
and (min-device-width : 500px)
and (max-device-width : 1200px){
  .menu5{
    display:none;

}.logoDown {
        width:170px;
        height:170px;
    }.maps iframe {
        width:190px;
        height:170px;
    }.logo {
        width:150px;
        height:130px;
        left:10%;
    } .welcome{
      right:1%;
      top:14%;
      position: absolute;
      }.signout{
    	width:260px;
    	height:40px;


    }.signin{
    	width:260px;
    	height:40px;

    } .menuu{
    	right:35%;
}.container1{
  
}.logomenu{
  width:100px;
  height:100px;
}
}



