@media only screen 
and (min-device-width : 100px) 
and (max-device-width : 500px){

   .logoDown {
        width:200px;
        height:200px;
    }.maps iframe {
        width:200px;
        height:200px;
    }.logo {
        width:100px;
        height:100px;
    } .welcome {
        right:16%;
    } .signout{
    	width:260px;
    	height:50px;
        
    }.signin{
    	width:260px;
    	height:50px;
        
    } .menuu{
    	right:35%;
        
    }
}

