body{
  background-color:white;;
  margin:auto auto;
}


.three-header {
  display: flex;
  width: auto;
  height: 50px;
  color:white;
  background-color:white;
  text-shadow: 2px 2px 6px #000;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 4px;
}


.three-main {
  display: flex;
  height: 600px;
  width:100%;
  left:0%;
  position:relative;
  color:blue;
  background-repeat:no-repeat;
  background-size:100%;
  background-image:url("../images/guitar.jpg");
  height: auto;
  background-size:auto;
}


#three-footer  {
  display: flex;
  width:100%;
  left:0%;
  position:relative;
  height: 250px;
  background-image:url("../images/guitare.jpg");
  background-repeat:no-repeat;
  background-size:100%;
  text-shadow: 2px 2px 6px #000;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 4px;
  color:white;
  margin: 0;
}



.fa {
  display:flex;
  padding: 30px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  display:flex;
  background: #3B5998;
  color: white;
  position: relative;
  margin-top: 10%;
  margin-left:5%;
  border-radius: 50%;
}

.fa-twitter {
  background: #3B5998;
  color: white;
  position: relative;
  margin-top: 10%;
  margin-left: 10%;    
  border-radius: 50%;
}

.fa-linkedin {
  background: #3B5998;
  color: white;
  position: relative;
  margin-top: 10%;
  margin-left: 20%;
  border-radius: 50%;
}


#four-header{
  display: flex;
  background-image:url("../images/deezer.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: 100%;
  width: 100%;
  left:0%;
  position:relative;

}
.element1 {  
  color:white;
  position:relative;
  margin-top: 15%;
  margin-left: 35%;

}

.element2 {  
  color:white;
  position:absolute;
  margin-top: 20%;
  margin-left: 20%;
  text-align: center;
}

.element3 {  
  color:white;
    position:absolute;
    margin-top: 26%;
  margin-left: 35%;
  text-align: center;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: inherit;
    display: flex;
    margin-left: 5px;
    float: left;
    left:5%;
    width: 10%;
    padding: 15px;
}

.popup .popuptext {
    visibility: hidden;
    width:90%;
    height: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    border: 10px solid #555;
    border-radius:50px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    text-align: justify;

}
.popup img {
    opacity: 0.8; 
    cursor: pointer; 
    width: 150px;
    height: 250px;
    border:black solid;
}

.button {
    display: flex;
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-weight:bold;
    display: block;
    margin : auto;
}


.popup img:hover {
    opacity: 4;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

#fifth-main{
  display: grid;
  background-color: blue;
  height:20px;;
  justify-content: left;
  background-size: 100%;
  width: 94%;
  left:3%;
  position:relative;


}
.element5-1 {
  display: grid;
  color:white;
  justify-content: center;
  align-items: top;
}

.fifth-main > position {
  display: grid;
  width: auto;
  height: 20px;
  color:white;
  background-color:red;

  }



